
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^medcareclinic\.ro$ [OR]
RewriteCond %{HTTP_HOST} ^www\.medcareclinic\.ro$
RewriteRule ^/?$ "https\:\/\/medcareclinic\.ro\/" [R=301,L]

